* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  vertical-align: middle;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: #eef1f6;
}

/* -------------------------------------------------------------------------- */
/*                         Registration part css start                        */
/* -------------------------------------------------------------------------- */
.left {
  background-image: url(../images/left.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 16/17;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left::after {
  position: absolute;
  content: url(../images/after.png);
  right: 0;
  top: 0;
  transform: scaleY(112.99%);
}
.left .left-content {
  text-align: center;
}
.left .left-content h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}
.left .left-content p {
  color: #fff;
  margin-bottom: 25px;
  line-height: 25px;
  font-size: 15px;
  max-width: 500px;
}
.left .left-content .social-icon {
  padding-top: 20px;
}
.left .left-content .social-icon a {
  padding: 13px 14px;
  background: #fff;
  font-size: 20px;
  margin-left: 6px;
  border-radius: 3px;
}
.left .left-content .social-icon a .fa-facebook-f {
  padding: 0 4px;
  transition: all linear 0.3s;
}
.left .left-content .social-icon a .fa-twitter {
  color: #00ffffa4;
  transition: all linear 0.3s;
}
.left .left-content .social-icon a .fa-google {
  color: red;
  transition: all linear 0.3s;
}
.left .left-content .social-icon a .fa-linkedin-in {
  padding: 0 2px;
  transition: all linear 0.3s;
}

.left .left-content .social-icon a:hover i {
  transform: translate3d(0, -10px, 0px);
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16/17;
  position: relative;
}
.right .right-content marquee {
  padding-bottom: 40px;
  font-size: 25px;
  font-weight: 400;
  color: #040404;
}
.right .right-content .form-control {
  padding-right: 250px;
  outline: 0;
  background-color: #fff;
}
.right .right-content .form-control:focus {
  box-shadow: inset 0 -2px 0 #e89d1f;
}
.right .right-content .form-check {
  padding-top: 20px;
  font-size: 16px;
}
.right .right-content .navigate-login a {
  color: #e89d1f;
  position: absolute;
  transform: translate(360%, -96%);
}
.right .right-content .navigate-login a:hover {
  text-decoration: underline;
}

.right .right-content .Registration_btn {
  padding: 10px 350px;
  margin-top: 30px;
  background: #e89d1f;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  color: white;
  transition: all linear 0.2s;
}
.right .right-content .Registration_btn:hover {
  background-color: #e6c33e;
}
/* -------------------------------------------------------------------------- */
/*                         Registration part css End                        */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                         Login part css Start                        */
/* -------------------------------------------------------------------------- */

.login .login-right .login-right-content .for-login-page a {
  color: #e89d1f;
  position: absolute;
  transform: translate(371%, 88%);
}
.login .login-right .login-right-content .login-btn {
  padding: 10px 350px;
  margin-top: 70px;
  background: #e89d1f;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  color: white;
  transition: all linear 0.2s;
}
.login .login-right .login-right-content .login-btn:hover {
  color: #fff;
  background-color: #104c0f;
}
/* -------------------------------------------------------------------------- */
/*                         Login part css End                        */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                         Home part css Start                        */
/* -------------------------------------------------------------------------- */
/* ---- reset ---- */
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #eef1f6;
  /* transform: translate(44%, 9%); */
  transform: translate(4%, 9%);
  z-index: -1;
}

.home {
  position: relative;
}
.home::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.home .withphoto {
  background: url("../images/withphoto.jpg");
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home .withphoto .heading h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding-top: 25rem;
  z-index: 1;
  position: absolute;
  left: 43%;
}
.home .widhtoutimg {
  background: url("../images/without.jpg");
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .withphoto a button {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 35%;
  padding: 10px 250px;
  transition: all linear 0.2s;
  background: #e89d1f;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  color: white;
}

.home .withphoto a button:hover {
  background-color: #1b9523;
}

/* -------------------------------------------------------------------------- */
/*                         Home part css End                        */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                        maindashboard part css start                        */
/* -------------------------------------------------------------------------- */

.customnav {
  background-color: #e89e1f !important;
}
.customnav .customul .customli {
  margin-left: 25px;
}
.customnav .customul .customli .anchor {
  color: #ffffffd8;
}
.logout-btn {
  background: #104c0f;
  padding: 7px 20px;
  border-radius: 12px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  transition: all linear 0.2s;
}
.logout-btn:hover {
  background: #0d7d0b;
  color: #fff;
}
.imgcustomization .imgdiv img {
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.customindicator .active {
  background-color: red !important;
}
#heading {
  padding: 20px 0;
  background: #000000ec;
}
#heading .title h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
#submisson_part {
  padding: 10px 0;
  background: url("../images/footer.jpg");
  height: 30vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#submisson_part .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
#submisson_part .content .submit_btn {
  background: #e89d1f;
  border: none;
}
#submisson_part .content .main-btn {
  padding: 10px 250px;
  transition: all linear 0.2s;
  background: #e89d1f;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}
/* -------------------------------------------------------------------------- */
/*                        maindashboard part css start                        */
/* -------------------------------------------------------------------------- */
